body {
  background-color: #FFFFFF;
  font: 12px Arial;
  margin: 0;
}

#content {
  display: block;
  clear: both;
  height: 100%;
  width: 844px;
  padding: 7px 0 5px 0;
  margin: 3px auto;
}

#ft {
  text-align: center;
  border-top: 1px solid #060;
}

h2 {
  color: #060;
}

h2 a {
  color: #060;
  text-decoration: none;
}

h3 {
  color: #060;
}

h3 a {
  color: #060;
  text-decoration: none;
}

hr {
  color: #060;
  background-color: #060;
  height: 1px;
}

.box {
  border:1px #060 solid; 
  padding:10px
}